{% extends 'base.html.twig' %}

{% block title %}New Shop{% endblock %}

{% block body %}

	{% embed 'admin/title.html.twig' %}
        {% block sectiontitle %}
            <h2 class="mt-4">Create new Shop</h2>
            <a href="{{ path('shop_index') }}" class="btn btn-secondary">back to list</a>
        {% endblock %}
    {% endembed %}

    {{ include('admin/shop/_form.html.twig') }}
{% endblock %}
